Repository Lelekhoa1812/SWE40006-System, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @frontend-maintainers, @docs-maintainers

feat: implement complete subscription and auth system
  backend/index.js
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/doctors/page.tsx
  frontend/src/contexts/auth-context.tsx
Owners: @team-lead, @frontend-maintainers

fix: resolve doctor registration and frontend-backend connection issues
  backend/index.js
  backend/src/routes/auth.ts
  backend/src/scripts/complete-seed.ts
  backend/src/scripts/fixed-seed-doctors.ts
  docs/README.md
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/chat/[subscriptionId]/page.tsx
  frontend/src/app/doctors/dashboard/page.tsx
  frontend/src/app/doctors/page.tsx
  frontend/src/components/subscription-modal.tsx
  frontend/src/contexts/auth-context.tsx
  frontend/src/env.ts
Owners: @team-lead, @docs-maintainers, @frontend-maintainers

fix: resolve doctor registration userId conflict
  backend/index.js
Owners: @team-lead

fix: update doctor registration logic for separate models
  backend/index.js
Owners: @team-lead

feat: force server restart for doctor registration fix
  backend/index.js
Owners: @team-lead

fix: remove custom userId to use MongoDB default _id
  backend/index.js
Owners: @team-lead

fix: add authentication middleware for doctor subscription approval
  backend/index.js
Owners: @team-lead

fix: improve chat message population for both User and Doctor models
  backend/index.js
Owners: @team-lead

feat: add senderRole field to message schema for better chat UI
  backend/index.js
Owners: @team-lead

fix: explicitly include senderRole field in message retrieval
  backend/index.js
Owners: @team-lead

fix: add senderRole field to Message schema
  backend/index.js
Owners: @team-lead

fix: add userId field to DoctorSchema to resolve unique index error
  backend/index.js
Owners: @team-lead

feat: add endpoint to fix existing doctor userId fields
  backend/index.js
Owners: @team-lead

fix: properly save doctor profile fields (bio, location, consultationFee, etc.)
  backend/index.js
Owners: @team-lead

feat: add logging for doctor profile fields to debug registration issue
  backend/index.js
Owners: @team-lead

feat: comprehensive CI/CD pipeline with extensive test coverage
  .github/workflows/ci.yml
  backend/package.json
  backend/src/integration/end-to-end.test.ts
  backend/src/routes/auth.test.ts
  backend/src/routes/chat.test.ts
  backend/src/routes/subscriptions.test.ts
  frontend/package.json
  frontend/src/app/chat/[subscriptionId]/page.tsx
  frontend/src/app/doctors/dashboard/page.tsx
  frontend/src/app/doctors/page.tsx
  frontend/src/components/__tests__/DoctorCard.test.tsx
Owners: @team-lead, @frontend-maintainers

feat: optimize GitHub workflows for graceful execution
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/infra-lint.yml
  .github/workflows/smoke-test.yml
  .github/workflows/typecheck.yml
Owners: none

feat: simplify all workflows for graceful execution
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/infra-lint.yml
  .github/workflows/smoke-test.yml
  .github/workflows/typecheck.yml
Owners: none

fix: Upd id subscription auth
  .gitignore
  docs/.pres.md
  frontend/src/app/chat/[subscriptionId]/page.tsx
Owners: @docs-maintainers, @frontend-maintainers

feat: Retrieve patient name handler
  backend/index.js
  frontend/src/app/doctors/dashboard/page.tsx
Owners: @team-lead, @frontend-maintainers

feat: Retrieve patient name handler from backend
  backend/index.js
Owners: @team-lead

.github/CODEOWNERS:

# Code owners
/infra/ @team-lead
/backend/ @team-lead
/frontend/ @frontend-maintainers
/docs/ @docs-maintainers
