Repository Lelekhoa1812/SWE40006-System, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @frontend-maintainers, @docs-maintainers

.github/CODEOWNERS:

# Code owners
/infra/ @team-lead
/backend/ @team-lead
/frontend/ @frontend-maintainers
/docs/ @docs-maintainers

ci(infra): add bicep skeleton, params, README and CI syntax check
  .github/workflows/infra-lint.yml
  infra/README.md
  infra/main.bicep
  infra/modules/appservice.bicep
  infra/modules/insights.bicep
  infra/parameters/dev.parameters.json
Owners: @team-lead

docs: add CI/CD excellence overview
  docs/CICD.md
Owners: @docs-maintainers

feat: Implement API routes for Subscription
  backend/package.json
  backend/src/database/client.ts
  backend/src/env.ts
  backend/src/index.ts
  backend/src/routes/subscriptions.ts
  pnpm-lock.yaml
Owners: @team-lead

feat: implement chat message persistence API
  backend/src/database/client.ts
  backend/src/index.ts
  backend/src/routes/messages.ts
Owners: @team-lead

docs: add blue-green deployment guide for Azure
  docs/deployment.md
Owners: @docs-maintainers

feat(backend): add pino request logging and structured logs for doctors endpoint
  backend/src/index.ts
  backend/src/routes/doctors.ts
Owners: @team-lead

feat(observability): add frontend web vitals, docs, and load test script
  docs/observability.md
  frontend/src/app/layout.tsx
  frontend/src/lib/metrics.ts
  scripts/load-test.sh
Owners: @docs-maintainers, @frontend-maintainers

ci: add smoke test job for backend health check
  .github/workflows/smoke-test.yml
Owners: none

docs: update CI/CD.md with project progress summary and observability
  docs/CICD.md
Owners: @docs-maintainers

fix: restore layout.tsx, fix build issues, add zod to frontend
  backend/src/index.ts
  backend/tsconfig.tsbuildinfo
  frontend/next.config.js
  frontend/package.json
  frontend/src/app/about/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/env.ts
  pnpm-lock.yaml
Owners: @team-lead, @frontend-maintainers

feat: complete blue-green deployment with comprehensive testing and documentation
  backend/backend.zip
  backend/simple-backend.zip
  backend/simple-server.js
  docs/.gitignore
  docs/.pres.md
  docs/deployment-test.md
  docs/deployment.md
Owners: @team-lead, @docs-maintainers

test: add unit tests for subscription and message APIs
  backend/src/routes/messages.test.ts
  backend/src/routes/messages.ts
  backend/src/routes/subscriptions.test.ts
  backend/src/routes/subscriptions.ts
Owners: @team-lead

feat: complete Azure deployment with blue-green backend and frontend
  README.md
  backend/backend.zip
  backend/simple-backend.zip
  backend/src/index.ts
  docs/deployment-test.md
  docs/deployment.md
  frontend/README.md
  frontend/next.config.js
  frontend/package-deploy.json
  frontend/src/env.ts
  frontend/static-server.js
  pnpm-lock.yaml
  scripts/load-test.sh
Owners: @team-lead, @docs-maintainers, @frontend-maintainers

feat: add comprehensive deployment automation scripts
  debug-deploy.sh
  deploy.sh
  docs/DEPLOYMENT-SCRIPTS.md
  docs/deployment.md
Owners: @docs-maintainers

fix: Revert presentation preparation from git
  docs/.gitignore
  docs/.pres.md
Owners: @docs-maintainers

fix: tests
  backend/package.json
  backend/src/index.ts
  frontend/package.json
  frontend/src/app/about/page.tsx
  frontend/src/app/doctors/__tests__/filter.test.tsx
  frontend/src/app/doctors/page.tsx
  frontend/src/components/__tests__/doctor-card.test.tsx
  frontend/src/components/__tests__/navbar.test.tsx
  frontend/src/components/ui/card.tsx
  pnpm-lock.yaml
Owners: @team-lead, @frontend-maintainers

refactor: rename deployment script file
  debug-deploy.sh
  deploy.sh
  docs/deployment-script.md
  docs/deployment.md
  frontend/frontend-logs.zip
  frontend/next.config.js
Owners: @docs-maintainers, @frontend-maintainers

test: Fix test configuration and resolve all test failures
  frontend/package.json
  frontend/src/app/doctors/__tests__/doctors-search.test.tsx
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Owners: @frontend-maintainers

docs: Upd test results
  docs/deployment-test.md
Owners: @docs-maintainers

ci: add build-and-test workflow
  .github/workflows/build-and-test.yml
Owners: none

fix: allow ci for feature/ci-pipeline branch
  .github/workflows/build-and-test.yml
Owners: none

chore: add missing tailwindcss-animate package
  frontend/package.json
  package-lock.json
  pnpm-lock.yaml
Owners: @frontend-maintainers

Add workflow_dispatch trigger to infra-lint
  .github/workflows/infra-lint.yml
Owners: none

Update smoke-test.yml
  .github/workflows/smoke-test.yml
Owners: none

Update smoke-test.yml to install pnpm globally
  .github/workflows/smoke-test.yml
Owners: none

Update Node.js version in smoke-test workflow
  .github/workflows/smoke-test.yml
Owners: none

chore: fix imports in backend for node.js compatibility
  backend/src/index.ts
  backend/tsconfig.json
Owners: @team-lead

Add feature branch to smoke test workflow
  .github/workflows/smoke-test.yml
Owners: none

Update smoke-test.yml
  .github/workflows/smoke-test.yml
Owners: none

Update branches for smoke test workflow
  .github/workflows/smoke-test.yml
Owners: none

Update backend server build and start steps
  .github/workflows/smoke-test.yml
Owners: none

chore: revert package setting to default commonjs setting
  backend/src/index.ts
  backend/src/routes/doctors.ts
  backend/src/routes/messages.ts
  backend/src/routes/subscriptions.ts
Owners: @team-lead

chore: staged tsconfig.buildinfo
  backend/tsconfig.tsbuildinfo
Owners: @team-lead

Update Azure CLI setup action version
  .github/workflows/infra-lint.yml
Owners: none

Update Azure CLI action in workflow
  .github/workflows/infra-lint.yml
Owners: none

Update Azure CLI setup action version
  .github/workflows/infra-lint.yml
Owners: none

Update Azure CLI step to use inlineScript
  .github/workflows/infra-lint.yml
Owners: none

chore: add typescript typecheck workflow
  .github/workflows/main.yml
Owners: none

chore: rename typecheck workflow
  .github/workflows/typecheck.yml
Owners: none

chore: fix project references and paths for consistent type-checking
  backend/tsconfig.json
  backend/tsconfig.tsbuildinfo
  frontend/tsconfig.json
  tsconfig.json
Owners: @team-lead, @frontend-maintainers
