Repository Lelekhoa1812/SWE40006-System, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @frontend-maintainers, @docs-maintainers

Limit pull request triggers to 'main' branch
  .github/workflows/build-and-test.yml
Owners: none

Limit pull request trigger to main branch
  .github/workflows/infra-lint.yml
Owners: none

Update branches for CI workflow
  .github/workflows/smoke-test.yml
Owners: none

Add branch filter for pull request events
  .github/workflows/smoke-test.yml
Owners: none

feat: Added Signin, SignUp, Forget Password and altered doctors card
  frontend/package.json
  frontend/src/app/doctors/page.tsx
  frontend/src/app/forgot-password/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/signin/page.tsx
  frontend/src/app/signup/page.tsx
  frontend/src/components/doctor-card.tsx
  frontend/src/components/navbar.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/radio-group.tsx
  pnpm-lock.yaml
Owners: @frontend-maintainers

ci: smoke-test workflow is functional
  .github/workflows/smoke-test.yml
Owners: none

build: revert package setting to default commonjs setting
  backend/src/index.ts
  backend/src/routes/doctors.ts
  backend/src/routes/messages.ts
  backend/src/routes/subscriptions.ts
  backend/tsconfig.tsbuildinfo
Owners: @team-lead

ci: update smoke-test.yml to install pnpm globally
  .github/workflows/smoke-test.yml
Owners: none

ci: update Azure CLI setup action version
  .github/workflows/infra-lint.yml
Owners: none

chore: add typescript typecheck workflow
  .github/workflows/main.yml
Owners: none

ci: rename typecheck workflow
  .github/workflows/typecheck.yml
Owners: none

refactor: fix project references and paths for consistent type-checking
  backend/tsconfig.json
  backend/tsconfig.tsbuildinfo
  frontend/tsconfig.json
  tsconfig.json
Owners: @team-lead, @frontend-maintainers

ci: limit pull request trigger to main branch in all workflows
  .github/workflows/build-and-test.yml
  .github/workflows/infra-lint.yml
  .github/workflows/smoke-test.yml
Owners: none

ci: fix typecheck step
  .github/workflows/typecheck.yml
Owners: none

feat: implement basic authentication system
  backend/env.sample
  backend/package.json
  backend/src/.gitignore
  backend/src/database/connection.ts
  backend/src/database/models/Doctor.ts
  backend/src/database/models/Subscription.ts
  backend/src/database/models/User.ts
  backend/src/env.ts
  backend/src/index.ts
  backend/src/routes/auth.test.ts
  backend/src/routes/auth.ts
  database/indexes.md
  database/schemas/chat.json
  database/schemas/doctor.json
  database/schemas/message.json
  database/schemas/patient.json
  database/schemas/subscription.json
  database/schemas/user.json
  docs/auth.md
  frontend/.env.sample
  frontend/.gitignore
  frontend/package.json
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/navbar.tsx
  frontend/src/contexts/auth-context.tsx
  pnpm-lock.yaml
Owners: @team-lead, @docs-maintainers, @frontend-maintainers

feat: implement server-side filtering and pagination for doctors
  backend/package.json
  backend/src/database/dao/DoctorDAO.ts
  backend/src/routes/doctors.ts
  backend/src/scripts/seed-doctors.ts
  frontend/src/app/doctors/page.tsx
  frontend/src/components/doctor-card.tsx
Owners: @team-lead, @frontend-maintainers

feat: implement complete subscription system with role-based access
  backend/src/routes/subscriptions.ts
  docs/privacy-consent.md
  frontend/src/app/dashboard/my-subscriptions/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/dashboard/subscriptions/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/doctor-card.tsx
  frontend/src/components/privacy-consent-modal.tsx
  frontend/src/contexts/subscription-context.tsx
Owners: @team-lead, @docs-maintainers, @frontend-maintainers

docs: update documentation with latest progress
  docs/README.md
  docs/deployment-test.md
Owners: @docs-maintainers

feat: implement real-time chat system with Socket.IO
  backend/package.json
  backend/src/database/dao/DoctorDAO.ts
  backend/src/database/models/Message.ts
  backend/src/index.ts
  backend/src/routes/auth.ts
  backend/src/routes/messages.ts
  backend/src/routes/subscriptions.ts
  backend/src/scripts/seed-doctors.ts
  backend/src/socket/socketHandler.ts
  backend/tsconfig.json
  backend/tsconfig.tsbuildinfo
  database/schemas/message.json
  frontend/package.json
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/chat/[subscriptionId]/page.tsx
  frontend/src/app/dashboard/my-subscriptions/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/contexts/socket-context.tsx
  frontend/src/env.ts
  pnpm-lock.yaml
Owners: @team-lead, @frontend-maintainers

chore: added fronedend-logs folder to git ignore
  .gitignore
Owners: none

fix: fastify reply method for onResponse hook
  backend/src/index.ts
  backend/tsconfig.tsbuildinfo
Owners: @team-lead

chore: Added Mock Doctors data
  database/mocks/doctors.json
  database/package.json
  pnpm-lock.yaml
Owners: none

chore: Updated code comments
  frontend/src/app/forgot-password/page.tsx
  frontend/src/app/signin/page.tsx
  frontend/src/app/signup/page.tsx
Owners: @frontend-maintainers

fix: Build Failure due to next config output parameter
  frontend/next.config.js
Owners: @frontend-maintainers

feat: Introduced post api call functionality
  frontend/src/lib/api.ts
Owners: @frontend-maintainers

feat: Added Subscription Request
  frontend/src/components/doctor-card.tsx
Owners: @frontend-maintainers

chore: Replaced mock data with api calls for doctors
  frontend/src/app/doctors/page.tsx
Owners: @frontend-maintainers

feat: implement admin audit system
  backend/package.json
  backend/src/database/models/AuditLog.ts
  backend/src/database/models/User.ts
  backend/src/env.ts
  backend/src/index.ts
  backend/src/jobs/retention.ts
  backend/src/middleware/accessControl.test.ts
  backend/src/middleware/accessControl.ts
  backend/src/middleware/audit.ts
  backend/src/routes/admin.test.ts
  backend/src/routes/admin.ts
  backend/src/routes/auth.ts
  backend/src/routes/messages.ts
  backend/src/routes/subscriptions.ts
  backend/src/socket/socketHandler.test.ts
  backend/src/socket/socketHandler.ts
  backend/src/test-utils.ts
  backend/src/test/setup.ts
  backend/tsconfig.json
  backend/vitest.config.ts
  docs/audit.md
  docs/data-model.md
  docs/retention-policy.md
  frontend/src/app/admin/audit/page.tsx
  frontend/src/app/chat/[subscriptionId]/page.tsx
  frontend/src/app/chat/no-access/page.tsx
  frontend/src/components/navbar.tsx
  frontend/src/components/ui/select.tsx
  pnpm-lock.yaml
Owners: @team-lead, @docs-maintainers, @frontend-maintainers

feat: implement data validation and DAO layer
  backend/src/database/dao/MessageDAO.test.ts
  backend/src/database/dao/MessageDAO.ts
  backend/src/database/dao/SubscriptionDAO.ts
  backend/src/database/dao/UserDAO.test.ts
  backend/src/database/dao/UserDAO.ts
Owners: @team-lead

feat: add UX polish and toast notifications
  docs/test.md
  frontend/src/app/doctors/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/doctor-card-skeleton.tsx
  frontend/src/components/toaster.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/toast.tsx
  frontend/src/components/ui/use-toast.ts
  frontend/src/contexts/subscription-context.tsx
Owners: @docs-maintainers, @frontend-maintainers

feat: complete deployment and update documentation
  backend/package.json
  docs/CICD.md
  docs/test.md
  pnpm-lock.yaml
Owners: @team-lead, @docs-maintainers

docs: comprehensive test documentation
  docs/test.md
Owners: @docs-maintainers

fix: resolve frontend deployment and CORS issues
  backend/simple-server.js
  docs/README.md
  frontend/next.config.js
  frontend/package-deploy.json
  frontend/package.json
  frontend/src/app/admin/audit/page.tsx
  frontend/src/app/chat/[subscriptionId]/page.tsx
  frontend/src/app/chat/no-access/page.tsx
  frontend/src/app/doctors/page.tsx
  pnpm-lock.yaml
Owners: @team-lead, @docs-maintainers, @frontend-maintainers

fix: resolve API routing and frontend deployment issues
  backend/simple-server.js
  frontend/next.config.js
Owners: @team-lead, @frontend-maintainers

fix: hardcode API URL in frontend to resolve JSON parsing errors
  frontend/src/env.ts
Owners: @frontend-maintainers

fix: resolve frontend API endpoint issues
  frontend/src/contexts/auth-context.tsx
Owners: @frontend-maintainers

fix: Update backend's dep missing from cache
  backend-simple.zip
  backend/simple-backend.js
  backend/simple-server.js
  docs/.pres.md
Owners: @team-lead, @docs-maintainers

feat: add simplified backend and fix deployment issues
  .gitignore
  backend-simple.zip
  backend/package.json
Owners: @team-lead

feat: update backend configuration and add new index files
  .gitignore
  backend/package.json
  backend/simple-backend.js
  backend/src/minimal-index.js
  backend/src/simple-index.js
  pnpm-lock.yaml
Owners: @team-lead

feat: migrate to Railway backend and Vercel frontend
  README.md
  backend/index.js
  docs/README.md
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/doctors/page.tsx
  frontend/src/app/globals.css
Owners: @team-lead, @docs-maintainers, @frontend-maintainers

.github/CODEOWNERS:

# Code owners
/infra/ @team-lead
/backend/ @team-lead
/frontend/ @frontend-maintainers
/docs/ @docs-maintainers
